.page-footer {
    position: block
}

.page-footer:before {
    border-top: 2px solid var(--tertiary-color);
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    /* width: 50%; */
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0;
    max-width: 1079px;
}